<!DOCTYPE html>
<html>
<%- include ./partials/head %>

<body>

  <div class="container mt-5">
    <!-- Thomas Wolters Section -->
    <div class="text-center">
      <h1>Thomas Wolters</h1>
      <p class="lead">Pitt State Senior</p>
      <!-- Add other information about Thomas here -->
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">
              I am a senior at Pittsburg State University, pursuing my degree in Computer Information Systems.
              Started my degree in 2021 and will be graduating in December. Excited to learn more about web development in the future. 
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Spencer Grillot Section -->
    <div class="text-center mt-5">
      <h1>Spencer Grillot</h1>
      <p class="lead">Pitt State Senior</p>
      <!-- Add other information about Spencer here -->
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">
              I'm a senior at Pittsburg State University. I started at LCC in 2019 and transfered to PSU in Spring 2021.
              Next semester I'll be graduating with an MBA, majoring in Accounting and Computer Information Systems and minoring in Internal Audit.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add more sections or cards for additional information -->

    <div class="text-center mt-4">
      <a class="btn btn-primary" href="/" role="button">Back to Home</a>
    </div>
  </div>

  <% include ./partials/scripts %>
</body>

</html>
