<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head %>

<body>
    <% include ./partials/navbar %>
    <div class="container">
        <!-- Hero Section -->
        <div class="jumbotron">
          <h1 class="display-4">ILMP Help Page</h1>
         
          
        </div>

    <div class="container text-center my-5">
        <h2 class="mb-4">Frequently Asked Questions</h2>

        <div class="mb-4">
            <p class="mb-1">How do I create a patient?</p>
            <a href="/patients/create" class="btn btn-primary">GO HERE!</a>
        </div>

        <div class="mb-4">
            <p class="mb-1">How to create an account?</p>
            <ul class="list-unstyled">
                <li>Step 1: Contact Admin by Email</li>
                <li>Step 2: Admin will give credentials</li>
                <li>Step 3: Go to the website and Login</li>
            </ul>
        </div>

        <div>
            <p class="mb-1">How do I update my password?</p>
            <ul class="list-unstyled">
                <li>Step 1: Contact Admin by Email/In-Person</li>
                <li>Step 2: Admin will update credentials</li>
            </ul>
        </div>
    </div>

    <% include ./partials/scripts %>
</body>
</html>

