<!DOCTYPE html>
<html>
  <%- include ./partials/head %>
<body>

  <div class="container mt-5">
    <div class="text-center">
      <h1>Login Page</h1>
    </div>

    <form id="loginForm" class="d-flex flex-column align-items-center">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="login()">Login</button>
      </div>
    </form>
  </div>
  
  <script>
    function login() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    // Perform your login logic here
    // You may want to make an AJAX request to a server-side endpoint for authentication

    // Example: Redirect to index.html after successful login
    if (true) {
      window.location.href = "/";
    }
  }

  </script>
 

<% include ./partials/scripts %>
</body>

</html>
